#container {
  width: 100%;
  height: 100%;
  position: static;
}

canvas {
  margin: 0;
  display: block;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

body {
  /* background-image: "bamboo.png"; */
  /* background-color: #cdd3d5;  */
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EBSHUN";
  src: url("./fonts/EBSHUN_R.ttf") format("truetype");
}
@font-face {
  font-family: "MAKGEOLLI";
  src: url("./fonts/MAKGEOLLI.ttf") format("truetype");
}
@font-face {
  font-family: "GYEOULNOONKOTT";
  src: url("./fonts/GyeoulNoonkott.ttf") format("truetype");
}
@font-face {
  font-family: "JEJUHALLASAN";
  src: url("./fonts/JejuHallasan.ttf") format("truetype");
}
@font-face {
  font-family: "GUNGSEO";
  src: url("./fonts/gungseo.ttf") format("truetype");
}

#record_button {
  background-color: transparent;
  padding: 8px 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 25%;
  position: fixed;
  top: 35%;
  left: 20px;
}

#github_button {
  background-color: transparent;
  padding: 8px 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 25%;
  position: fixed;
  top: 50%;
  left: 20px;
}

#instagram_button {
  background-color: transparent;
  padding: 8px 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 25%;
  position: fixed;
  left: 20px;
  top: 65%;
}

#bamboo_img {
  position: fixed;
  bottom: 0;
  left: 0;
}
