canvas {
  margin: 0 auto;
  display: block;
  border: 1px solid black;
  background-color: white;
}

body {
  height: 100vh;
  background-image: url('bamboo.png') ;
  /* background-image: url('bamboo2.png'); */
  background-repeat : no-repeat;
  background-size : contain;
  background-position-x: right;
  background-color: #4aa8d8;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
